.container{
    width: 300px;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    margin: 20px auto;
    align-items: center;
}
label{
    display: block;
    margin-bottom: 5px;
}
input{
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
}
button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
}
button:hover{
    cursor:pointer;
}